@media (max-width: 850px) {
    .header-nav-ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100vh;
        width: 150px;
        backdrop-filter: blur(4px);
        transform: translateX(100%);
        transition: .4s;
        gap: 50px;
    }
    .header-nav-ul a{
        font-size: 20px;
        padding: 0;
    }
    .burger{
        display: flex;
    }
    .header-content .container{
        display: inline;
    }
    .hc-watch3 {
        width: 526px;
        height: 400px;
      }
}